# Ignore build directories and their contents
/build
/_deps

# Ignore CMake build files
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
CMakeLists.txt.user

# Ignore logs and temporary files
*.log
*.tmp

# Ignore specific files you mentioned
build/CMakeCache.txt
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeRuleHashes.txt
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/projekt.dir/DependInfo.cmake
build/CMakeFiles/projekt.dir/build.make
build/CMakeFiles/projekt.dir/compiler_depend.internal
build/CMakeFiles/projekt.dir/compiler_depend.make
build/CPackConfig.cmake
build/CPackSourceConfig.cmake
build/CTestTestfile.cmake
build/Makefile
build/Testing/TAG
build/Testing/Temporary/LastTest.log
build/_deps/googletest-build/CMakeFiles/CMakeDirectoryInformation.cmake
build/_deps/googletest-build/CTestTestfile.cmake
build/_deps/googletest-build/Makefile
build/_deps/googletest-build/cmake_install.cmake
build/_deps/googletest-build/googlemock/CMakeFiles/CMakeDirectoryInformation.cmake
build/_deps/googletest-build/googlemock/CMakeFiles/gmock.dir/DependInfo.cmake
build/_deps/googletest-build/googlemock/CMakeFiles/gmock.dir/build.make
build/_deps/googletest-build/googlemock/CMakeFiles/gmock.dir/compiler_depend.internal
build/_deps/googletest-build/googlemock/CMakeFiles/gmock_main.dir/DependInfo.cmake
build/_deps/googletest-build/googlemock/CMakeFiles/gmock_main.dir/build.make
build/_deps/googletest-build/googlemock/CMakeFiles/gmock_main.dir/compiler_depend.internal
build/_deps/googletest-build/googlemock/CTestTestfile.cmake
build/_deps/googletest-build/googlemock/Makefile
build/_deps/googletest-build/googlemock/cmake_install.cmake
build/_deps/googletest-build/googletest/CMakeFiles/CMakeDirectoryInformation.cmake
build/_deps/googletest-build/googletest/CMakeFiles/gtest.dir/DependInfo.cmake
build/_deps/googletest-build/googletest/CMakeFiles/gtest.dir/build.make
build/_deps/googletest-build/googletest/CMakeFiles/gtest.dir/compiler_depend.internal
build/_deps/googletest-build/googletest/CMakeFiles/gtest_main.dir/DependInfo.cmake
build/_deps/googletest-build/googletest/CMakeFiles/gtest_main.dir/build.make
build/_deps/googletest-build/googletest/CMakeFiles/gtest_main.dir/compiler_depend.internal
build/_deps/googletest-build/googletest/CTestTestfile.cmake
build/_deps/googletest-build/googletest/Makefile
build/_deps/googletest-build/googletest/cmake_install.cmake
build/_deps/googletest-subbuild/CMakeCache.txt
build/_deps/googletest-subbuild/CMakeFiles/CMakeDirectoryInformation.cmake
build/_deps/googletest-subbuild/CMakeFiles/CMakeRuleHashes.txt
build/_deps/googletest-subbuild/CMakeFiles/Makefile2
build/_deps/googletest-subbuild/CMakeFiles/TargetDirectories.txt
build/_deps/googletest-subbuild/CMakeFiles/googletest-populate.dir/Labels.json
build/_deps/googletest-subbuild/CMakeFiles/googletest-populate.dir/Labels.txt
build/_deps/googletest-subbuild/CMakeFiles/googletest-populate.dir/build.make
build/_deps/googletest-subbuild/CMakeLists.txt
build/_deps/googletest-subbuild/Makefile
build/_deps/googletest-subbuild/cmake_install.cmake
build/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-gitclone-lastrun.txt
build/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-gitinfo.txt
build/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-update-info.txt
build/_deps/googletest-subbuild/googletest-populate-prefix/tmp/googletest-populate-gitclone.cmake
build/_deps/googletest-subbuild/googletest-populate-prefix/tmp/googletest-populate-gitupdate.cmake
build/_deps/googletest-subbuild/googletest-populate-prefix/tmp/googletest-populate-mkdirs.cmake
build/_deps/raylib-build/CMakeFiles/CMakeDirectoryInformation.cmake
build/_deps/raylib-build/CTestTestfile.cmake
build/_deps/raylib-build/Makefile
build/_deps/raylib-build/cmake_install.cmake
build/_deps/raylib-build/raylib/CMakeFiles/CMakeDirectoryInformation.cmake
build/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/DependInfo.cmake
build/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/build.make
build/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/compiler_depend.internal
build/_deps/raylib-build/raylib/CMakeFiles/raylib_static.dir/DependInfo.cmake
build/_deps/raylib-build/raylib/CMakeFiles/raylib_static.dir/build.make
build/_deps/raylib-build/raylib/CMakeFiles/raylib_static.dir/compiler_depend.internal
build/_deps/raylib-build/raylib/CTestTestfile.cmake
build/_deps/raylib-build/raylib/Makefile
build/_deps/raylib-build/raylib/cmake_install.cmake

# Ignore compiled files
*.o
*.obj
*.exe
*.dll
*.so
*.dylib

# Ignore generated files
*.gen.*

# Ignore user-specific files
*.swp
*.swo
*.swn
.idea/
.vscode/
.DS_Store

# Ignore logs and temp files
*.log
*.tmp
*.temp
*.bak
*.old
*.orig
*.rej
*~
\#*\#
.\#*

# Ignore build directories
build/
.vscode/setting.json
